<div id="logo-app"><img src="src/assets/logo.svg" alt="scrummy">scrummy</div>
<div (click)="open(screen.WorkItems)">Work Items</div>
<div (click)="open(screen.Sprints)">Sprints</div>
<div (click)="open(screen.Backlog)">Backlog</div>
<div (click)="open(screen.Retrospective)">Retrospective</div>
<div class="unavailable">coming soon...</div>
<div class="unavailable">coming soon...</div>
<div class="unavailable">coming soon...</div>
<div class="unavailable">coming soon...</div>
<div class="unavailable">coming soon...</div>
